*{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 0;
  font-size: 18px;
  letter-spacing: .8px;
  margin: 0;
}
body{
  background-image: url('./bg.jpg');
  background-position: right button;
  background-repeat: no-repeat;
  background-size: 100%;
}
.container{
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
  width: 80vw;
  margin-left: 50px;
}

.input-area{
  width: 70%;
}
input{
  width: 100%;
  margin-bottom: 10px;
  background-color: rgba(0, 0, 0, .5);
  border: 1px solid rgba(0, 0, 0, .5);
  color: #fff;
  padding: 10px;


  border-radius: 8px;
}

.inp-container{
  display: flex;
  flex-direction: column;
}

span{
  color: #fff;
}

input::placeholder{
  color: #bfbfbf;
}

button{
  margin-left: 10px;
  display: inline-block;
  cursor: pointer;
}

button:disabled{
  outline: none;
  cursor: default;
  background-color: rgba(255, 255, 255, .1);
}

select, option, button{
  border: 1px solid rgba(0, 0, 0, .9);
  background: rgba(0, 0, 0, .5);;
  color: white;
  padding: 5px;
}

option:{
  color:black;
}

.choose{
  width: 20vw;
  display: flex;
  align-items: flex-start;
}
